{% extends 'frontend/layouts/master.html' %}
{% block title %}
  {{ category_to_show.title }}
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <a href="{{ request.path }}" class="section">{{ category_to_show.title }}</a>
  <i class="right chevron icon divider"></i>
  {% if request.GET.query %}
    <div class="section active">Searching for: {{ request.GET.query }}</div>
  {% endif %}
{% endblock %}
{% block content %}
  <h1>Blogs ({{ blogs.count }})</h1>
  {% if blogs.count %}
    {% for blog in blogs.all %}
      <h4>{{ blog.title }}</h4>
      <p>{{ blog.description }}</p>
      <a href="{% url 'frontend:blogs.show' blog.id %}">Read More</a>
      <hr>
    {% endfor %}
  {% else %}
    <i>No results</i>
  {% endif %}
{% endblock %}
