{% extends 'admin/master.html' %}

{% block content %}
  <h1>Edit A blog</h1>
  <form class="ui form" action="{% url 'admin:blogs.update' blog.id %}" method="POST">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="field">
        <strong>{{ field.errors }}</strong>
        {{ field.label_tag }}
        {{ field }}
      </div>
    {% endfor %}
    <button class="ui primary button" type="submit">Submit</button>
  </form>
{% endblock %}

{% block script %}
<script>
  $('.ui.dropdown').dropdown();
</script>
{% endblock %}