{% extends 'admin/master.html' %}

{% block content %}
  <div class="ui segments">
    <div class="ui segment">
      <h1><a href="{% url 'admin:blogs.edit' blog.id %}">{{ blog.title }}</a></h1>
      <p>{{ blog.description }}</p>
    </div>
  </div>
  <div style="text-align: right">
    {% if not is_liked %}
      <a href="{% url 'admin:like.store' blog.id %}">Like</a>
    {% else %}
      <a href="{% url 'admin:like.destroy' blog.id %}">Unlike</a>
    {% endif %}
    &nbsp&nbsp&nbsp
    Comments ({{ blog.comments.count }})

    &nbsp &nbsp &nbsp

    Liked ({{ blog.likes.count }})
      {% if is_liked %}
        <small>, including you</small>
      {% endif %}
  </div>
  <hr>
  <h2>Input Comments</h2>
  <form action="{% url 'admin:comments.store' blog.id %}" class="ui form" method="POST">
    {% csrf_token %}
    <div class="field">
      {{ form.content }}
    </div>
    <button class="button ui primary" type="submit">Submit</button>
  </form>
  <div class="ui segments">
    <div class="ui segment">
      <p>Comments ({{ blog.comments.count }})</p>
      <div class="ui segments">
        {% for comment in blog.comments.all %}
          <div class="ui segment">
            <h1 style="display: inline;">{{ comment.user.username }}</h1>&nbsp&nbsp&nbsp
            <small>{{ comment.pub_date }}</small>
            <p>{{ comment.content }}</p>
            <div style="text-align: right">
              <a href="{% url 'admin:comments.edit' blog.id comment.id %}">Edit</a> |
              <a href="#" data-entity-id="{{ comment.id }}" data-action="delete">Delete</a>
              <form action="{% url 'admin:comments.destroy' comment.id %}" id="form-delete-{{ comment.id }}"
                method="POST">
                {% csrf_token %}
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

