{% extends 'admin/master.html' %}
{% load admin_extras %}
{% block content %}
  <div class="ui segments">
    <div class="ui segment">
      <h1><a href="{% url 'admin:blogs.edit' blog.id %}">{{ blog.title }}</a></h1>
      <p>{{ blog.description }}</p>
      <small>{{ blog.pub_date }}</small>
    </div>
  </div>
  <div style="text-align: right">
    {% if not is_liked %}
      <form action="{% url 'admin:like.store' blog.id %}" method="POST">
        {% csrf_token %}
        <a href="#" data-action="post">Like</a>
      </form>
    {% else %}
      <form action="{% url 'admin:like.destroy' blog.id %}" method="POST">
        {% csrf_token %}
        <a href="#" data-action="post">Unlike</a>
      </form>
    {% endif %}
    &nbsp&nbsp&nbsp
    Comments ({{ visible_comments.count }})
    &nbsp &nbsp &nbsp
    Liked ({{ blog.likes.count }})
      {% if is_liked %}
        <small>, including you</small>
      {% endif %}
  </div>
  <hr>
  <h2>Input Comments</h2>
  <form action="{% url 'admin:comments.store' blog.id %}" class="ui form" method="POST">
    {% csrf_token %}
    {% include 'admin/layouts/form.html' %}
  </form>
  <div class="ui segments">
    <div class="ui segment">
      <p>Comments ({{ visible_comments.count }})</p>
      <div class="ui segments">
        {% for comment in visible_comments %}
          <div class="ui segment blue">
            <img src="{{ comment.user.profile.image.url }}" alt="profile-image" class="ui small circular image">
            <h1 style="display: inline;">{{ comment.user.username }}</h1>
            <small>says:</small>
            <p>{{ comment.content }}</p>
            <small>{{ comment.pub_date }}</small>
            <div style="text-align: right">
              <a href="{% url 'admin:comments.edit' blog.id comment.id %}">Edit</a> |
              <form action="{% url 'admin:comments.destroy' comment.id %}" method="POST">
                {% csrf_token %}
                <a href="#" data-action="delete">Delete</a>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

