{% extends 'frontend/layouts/master.html' %}

{% block title %}
  Frontend
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  {% if request.GET.query  %}
    <div class="section active">Searching for: {{ request.GET.query }}</div>
  {% endif %}
{% endblock %}

{% block content %}
  <h1>Blogs</h1>
  {% if blogs.count %}
    {% for blog in blogs %}
      <h4>{{ blog.title }}</h4>
      <p>{{ blog.description }}</p>
      <a href="{% url 'frontend:blogs.show' blog.id %}">Read more</a>
      <hr>
    {% endfor %}
  {% else %}
    <i>No results</i>
  {% endif %}
{% endblock %}
