{% extends 'admin/master.html' %}

{% block content %}
  <h1>Blogs <a href="{% url 'admin:categories.edit' category.id %}" class="ui tag label teal">{{ category.title }}</a></h1>
  <table class="ui celled fixed table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Published at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for blog in category.blogs.all %}
        <tr>
          <td>{{ blog.title }}</td>
          <td>{{ blog.description }}</td>
          <td>{{ blog.pub_date }}</td>
          <td>
            <a href="{% url 'admin:blogs.edit' blog.id %}">Edit</a><br>
            <form action="{% url 'admin:blogs.destroy' blog.id %}" method="POST">
              {% csrf_token %}
              <a href="#" data-action="delete">Delete</a> <br>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}