{% extends 'admin/master.html' %}

{% block content %}
  <h1>Blogs in {{ category.title }}</h1>
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Published at</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for blog in category.blogs.all %}
        <tr>
          <td>{{ blog.title }}</td>
          <td>{{ blog.description }}</td>
          <td>{{ blog.pub_date }}</td>
          <td>
            Edit <br>
            Delete <br>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}