<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
  <title>Django Admin</title>
</head>
<body>
<div class="ui grid">
  <div class="sixteen wide column">
    {% include 'admin/layouts/navbar.html' %}
  </div>

  <div class="three wide column">
    {% include 'admin/layouts/sidebar.html' %}
  </div>

  <div class="ten wide column">
    {% block content %} {% endblock content %}
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</body>
</html>